#include <physical_layouts.dtsi>

/ {
    swweeep_layout: swweeep_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0  111       0     0     0>
            , <&key_physical_attrs 100 100  100   41       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300   32       0     0     0>
            , <&key_physical_attrs 100 100  400   47       0     0     0>
            , <&key_physical_attrs 100 100  803   47       0     0     0>
            , <&key_physical_attrs 100 100  903   32       0     0     0>
            , <&key_physical_attrs 100 100 1003    0       0     0     0>
            , <&key_physical_attrs 100 100 1103   41       0     0     0>
            , <&key_physical_attrs 100 100 1203  111       0     0     0>
            , <&key_physical_attrs 100 100    0  211       0     0     0>
            , <&key_physical_attrs 100 100  100  141       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  132       0     0     0>
            , <&key_physical_attrs 100 100  399  147       0     0     0>
            , <&key_physical_attrs 100 100  803  147       0     0     0>
            , <&key_physical_attrs 100 100  903  132       0     0     0>
            , <&key_physical_attrs 100 100 1003  100       0     0     0>
            , <&key_physical_attrs 100 100 1103  141       0     0     0>
            , <&key_physical_attrs 100 100 1203  211       0     0     0>
            , <&key_physical_attrs 100 100    0  311       0     0     0>
            , <&key_physical_attrs 100 100  100  241       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  232       0     0     0>
            , <&key_physical_attrs 100 100  399  247       0     0     0>
            , <&key_physical_attrs 100 100  803  247       0     0     0>
            , <&key_physical_attrs 100 100  903  232       0     0     0>
            , <&key_physical_attrs 100 100 1003  200       0     0     0>
            , <&key_physical_attrs 100 100 1103  241       0     0     0>
            , <&key_physical_attrs 100 100 1203  311       0     0     0>
            , <&key_physical_attrs 100 100  294  342     500   344   392>
            , <&key_physical_attrs 100 100  401  362    1500   451   412>
            , <&key_physical_attrs 100 100  503  402    2500   553   452>
            , <&key_physical_attrs 100 100  700  402 (-2500)   750   452>
            , <&key_physical_attrs 100 100  802  362 (-1500)   852   412>
            , <&key_physical_attrs 100 100  909  342  (-500)   959   392>
            ;
    };
};
